<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%=blog.title %></div>
    <div class="ui attatched top">
        <div class="item">
            <img  class="ui centered rounded image" src="<%= blog.image %>">
          <div class="content">
              <span><%= blog.created.toDateString() %></span>
          </div>
          <div class="description">
               <p><%- blog.body %></p>
          </div>
        </div>
    </div>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <a  class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
        <button class="ui red basic button">Delete</button>
    </form>
    </div>
<% include partials/footer %>